.archive {
  margin-left: 25%;
  margin-right: 20%;
  color: #fff;
  text-decoration: none;
  margin-top: 100px;
  width: 50%;
}
.archive-list li {
  margin-left: 25%;
}
.archive-list a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  width: 50%;
  line-height: 50px;
}
