body {
  margin: 0 0 0 0;
  background-color: #141414;
}
*::selection {
  background-color: #141414;
  color: #fff;
}
.article #veditor {
  background: url("/img/bg4.png") no-repeat right top;
  background-size: 120px;
  background-position: 98% 5px;
}
.vat {
  border: solid #f00 1px;
  border-radius: 10px;
  padding: 0px 10px;
}
.vat:hover {
  background-color: #f00;
  color: #fff !important;
}
.novel+.v {
  width: 80%;
  margin: 50px auto;
}
#tidio-chat-iframe {
  diplay: block !important;
}
