@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.image-modal {
  display: none; /* 默认隐藏 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.image-modal img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .image-modal img {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
  }
}
.close-btn,
.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  user-select: none;
}
.close-btn {
  top: 50px;
  right: 50px;
  font-size: 40px;
}
@media (max-width: 768px) {
  .close-btn {
    font-size: 30px;
    right: 40px;
  }
}
.prev-btn {
  left: 20px;
  font-size: 40px;
}
@media (max-width: 768px) {
  .prev-btn {
    opacity: 0.6;
  }
}
.next-btn {
  right: 20px;
  font-size: 40px;
}
@media (max-width: 768px) {
  .next-btn {
    opacity: 0.6;
  }
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.code-block-header {
  margin-top: 12px;
  text-align: center;
  background: #23272c;
  position: relative;
  border-radius: 10px 10px 0 0;
  color: #fff;
  z-index: 2;
}
.code-block-header .code-lang,
.code-block-header .code-info {
  content: attr(class);
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  pointer-events: none;
  letter-spacing: 0px;
}
.code-block-header .code-info:before {
  content: " | ";
  color: #fff;
}
.code-block-header .code-lang {
  margin-left: 70px;
}
.code-block-header a {
  border-bottom: 0px !important;
}
.code-block-header .codeblock-buttons {
  diplay: inline;
  float: right;
}
.code-block-header .codeblock-buttons i {
  padding: 12px 15px 0 0;
}
.code-block-header:before {
  content: " ";
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  left: 20px;
  margin-top: 12px;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}
figure table {
  border-collapse: collapse;
  background: #1d1f21;
  overflow-x: scroll;
  width: 100%;
}
.highlight {
  position: relative;
  line-height: 1.6;
  margin-bottom: 1.6em;
  text-shadow: none;
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  background-color: #1d1f21;
  display: block;
  color: #abb2bf;
  border-radius: 0 0 10px 10px;
}
.highlight pre {
  color: #fff;
  word-break: break-word;
  padding: 2px;
  margin: 0;
  text-shadow: none;
  border-radius: 0 0 5px 5px;
  font-family: "consolas" !important;
  text-align: left;
  color: #888f96 !important;
}
.highlight pre .line {
  display: inline-block;
  width: 100%;
}
.highlight pre .line:hover {
  background-color: rgba(200,200,200,0.1);
}
.highlight pre .marked {
  background-color: rgba(200,200,200,0.1);
}
.highlight td.gutter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  left: 0;
  width: 30px;
}
.highlight td.gutter pre {
  text-align: right;
}
.highlight td {
  padding: 0px;
}
.highlight table tr td:last-child {
  width: 100%;
}
.highlight table td,
.highlight table th {
  border: none !important;
}
.code-head-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 38px;
  z-index: 99;
  margin: 0;
  width: 100%;
}
pre {
  color: #fff;
}
pre ::selection {
  background-color: #808080;
}
.comment,
.quote {
  color: #888f96;
  font-style: italic;
}
.doctag,
.formula,
.keyword {
  color: #c678dd;
}
.deletion,
.name,
.section,
.selector-tag,
.subst {
  color: #e06c75;
}
.literal {
  color: #56b6c2;
}
.addition,
.attribute,
.meta-string,
.regexp,
.string {
  color: #98c379;
}
.built_in,
.class .title {
  color: #e6c07b;
}
.attr,
.number,
.selector-attr,
.selector-class,
.selector-pseudo,
.template-variable,
.type,
.variable {
  color: #d19a66;
}
.bullet,
.meta,
.selector-id,
.symbol {
  color: #61aeee;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: 700;
}
.ln {
  margin: 6px 0 0 0 !important;
}
.chinese-font {
  font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}
.chinese-tranditional-font {
  font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
.english-serif {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', serif;
}
.code-font {
  font-family: 'Source Code Pro', monospace !important;
}
.Ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
.serif {
  font-family: 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif;
}
.code-block-header {
  user-select: none;
}
.code-block-fullscreen {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  --heightA: 100%;
  --heightB: calc(var(--heightA) - 30px);
  height: var(--heightB);
  min-width: 100%;
  z-index: 98;
  margin: 0;
  animation: elastic 1s;
  overflow: scroll;
  transition: height 1s ease;
}
.code-block-fullscreen-html-scroll {
  overflow: hidden;
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
#post-content {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
  word-spacing: 0px;
  letter-spacing: 0px;
  word-break: break-word;
  word-wrap: break-word;
  text-align: left;
/* font-family: 'Cantarell','Source Han Serif CN','JetBrains Mono'; */
  font-family: 'Cantarell', 'SourceHanSerifCN', 'JetBrainsMono';
  margin-bottom: 20rem;
}
#post-content strong {
  color: #4870ac;
}
#post-content a {
  text-decoration: none;
  word-wrap: break-word;
  color: #4870ac;
  border-bottom: 1px solid #4870ac;
  margin: 2px;
}
#post-content p,
#post-content blockquote p {
  font-size: 1.1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
  line-height: 1.8rem;
  color: #3a4749;
}
#post-content blockquote footer {
  display: block;
  margin-top: 8px;
  text-align: right;
  word-break: break-all;
}
#post-content blockquote footer:before {
  content: "——";
}
#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  margin: 1em 0 1em;
  padding: 0px;
  color: #4870ac;
}
#post-content h1 {
  text-align: center;
}
#post-content h2 {
  display: inline-block;
  font-weight: bold;
  background: #4870ac;
  color: #fff !important;
  padding: 1px 15px 1px;
  border-radius: 4px;
  margin-right: 3px;
}
#post-content h2 span {
  color: #fff !important;
}
h2::after {
  width: 100%;
}
#post-content h1 {
  font-size: 2rem;
}
#post-content h2 {
  font-size: 1.5rem;
}
#post-content h3 {
  font-size: 1.4rem;
}
#post-content h4 {
  font-size: 1.2rem;
}
#post-content h5 {
  font-size: 1.1rem;
}
#post-content h6 {
  font-size: 1.1rem;
}
#post-content  li::marker {
  font-weight: bold;
  color: rgba(72,112,172,0.5);
}
#post-content ul li,
#post-content ol li {
  margin: 0.4rem 0;
}
#post-content ul,
#post-content ol {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 20px;
}
#post-content ul li:not(:has(input[type="checkbox"])) {
  list-style-type: disc;
}
#post-content ul ul li {
  list-style-type: square;
}
#post-content ol li {
  list-style-type: decimal;
}
#post-content li section {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.7rem;
  text-align: justify;
  font-weight: 500;
}
#post-content  em {
  padding: 0 3px 0 0;
  font-style: italic;
}
#post-content blockquote {
  display: block;
  font-size: 0.9em;
  overflow: auto;
  border-left: 3px solid #4870ac;
  padding: 15px 30px 15px 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(72,112,172,0.05);
}
#post-content p code,
#post-content li code {
  color: #4870ac;
  font-size: 1rem;
  word-wrap: break-word;
  padding: 2px 4px 2px;
  border-radius: 3px;
  margin: 2px;
  background-color: rgba(72,112,172,0.05);
  word-break: break-all;
}
#post-content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  filter: drop-shadow(#d2dff4 0px 0px 8px);
  border-radius: 1rem;
}
#post-content table {
  white-space: nowrap;
  display: table;
  text-align: left;
  display: block;
  overflow-x: auto;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
  margin: 0px 0px 20px;
  width: 100%;
}
#post-content tbody {
  border: 0;
}
#post-content table tr {
  border: 0;
}
#post-content table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
#post-content table tr th,
#post-content table tr td {
  font-size: 1rem;
  border: 1px solid #d9dfe4;
  padding: 5px 20px;
  text-align: left;
}
#post-content table tr th {
  font-weight: bold;
  background-color: #fff;
  color: #4870ac;
}
#post-content hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eef2f5;
  border-radius: 2px;
}
#post-content input[type=checkbox] {
  width: 0;
  margin-left: 0;
  padding-left: 0;
}
#post-content li > input:checked:before,
#post-content li > input[checked]:before,
#post-content input[type="checkbox"]:checked:before {
  content: '';
  background-color: #fff;
  background: url("/img/checked.svg") no-repeat center, rgba(72,112,172,0.5);
}
#post-content li input::before {
  content: "";
  display: inline-block;
  width: 1.0125rem;
  height: 1.0125rem;
  border: 1px solid rgba(72,112,172,0.5);
  border-radius: 0.2rem;
  background-color: #fdfdfd;
  margin-left: -1rem;
  margin-right: 0.1rem;
  margin-top: -0.1rem;
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
body {
  background-color: #fff !important;
}
#content-outer {
  width: 100vw;
}
#post-outer {
  margin-top: 75px;
  display: flex;
  padding: 40px 5% 0;
}
#mid-col {
  order: 2;
  margin: 0 20px;
  flex: auto;
  width: 0;
}
#post {
  -webkit-box-shadow: 1px 0 5px rgba(100,100,100,0.4);
  box-shadow: 1px 0 5px rgba(100,100,100,0.4);
}
#toc-col {
  order: 3;
  flex: 0 0 300px;
}
#share-col {
  order: 1;
  flex: 0 0 50px;
  z-index: 2;
}
#shareButtons {
  padding-top: 100px;
  position: fixed;
  width: 50px;
}
.newShare {
  width: 100% !important;
  position: static !important;
  padding-top: 0px !important;
  margin-left: 40px;
}
.newShare .social-share .social-share-icon {
  width: 30px;
  height: 30px;
  font-size: auto !important;
  line-height: 30px;
}
@media only screen and (max-width: 900px) {
  #toc-col {
    display: none;
  }
  #mid-col {
    margin: 0 5px;
  }
  #post-outer {
    padding: 5px;
  }
  #post {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #post-content {
    padding: 0 20px 20px !important;
  }
  #firstline .date {
    display: block;
  }
  .fdate {
    display: none;
  }
  .ribbon {
    display: none;
  }
}
#titles {
  padding-left: 20px;
  border-left: solid 0.3125rem #000;
  padding-bottom: 25px;
  position: relative;
}
#titles h1 {
  padding-top: 0.9375rem;
  border-bottom: 0px;
  margin-bottom: 0.8rem;
  font-weight: 900;
  font-size: 2em;
  z-index: -1;
}
#first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon .ri {
  font-size: rem(12px);
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #4870ac;
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon .ri:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #4870ac;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4870ac;
}
.ribbon .ri:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #4870ac;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #4870ac;
}
.date {
  min-width: 130px;
  margin-right: 20px;
  display: inline-block;
}
.category-post:hover,
.post-tag:hover {
  color: $post-tag-hover-text-color;
}
.words {
  margin-left: 0.5rem;
  line-height: 24px;
  text-decoration: none;
  font-size: 0.9375rem;
}
.words:link {
  color: #000;
}
.post-title-icons {
  margin-left: 0.5rem;
}
.date-warning {
  padding: 15px 15px 15px 38px;
  margin: 20px 0;
  background-color: #eef7fa;
  border-left: 3px solid;
  border-left-color: #428bca;
  border-radius: 3px;
  position: relative;
}
.date-warning:before {
  content: "\f05a";
  color: #428bca;
  font-family: 'fontawesome';
  display: block;
  float: left;
  vertical-align: middle;
  font-size: larger;
  position: absolute;
  top: 0;
  left: 10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.date-warning strong {
  color: inherit !important;
}
.date-warning strong:before,
.date-warning strong:after {
  content: '' !important;
}
#post-content {
  padding: 20px 40px 40px 40px;
  margin-bottom: 40px;
}
#post img {
  max-width: 100%;
  margin: 20px auto;
  display: block;
}
#post figure:not(.highlight),
#post table,
width: 100% {
  overflow-x: scroll;
}
#post table:not(figure table) {
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
}
#post .highlight {
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: 30px;
}
#post .highlight table {
  margin: 0;
}
#post .highlight table pre {
  letter-spacing: 0px;
}
#post-content h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-size: 25px;
  z-index: -1 !important;
}
#post-content  h2 {
  line-height: 1.225;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  position: relative;
  font-size: 20px;
  z-index: -1 !important;
}
#post-content h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#post-content  h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#post-content  h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#post-content  h6 {
  display: block;
  font-size: 0.67em;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
#post-content li {
  line-height: 25px;
}
#post-content table tr th,
#post-content table tr td {
  padding: 5px 15px;
}
#post-content table tr th[align="left"],
#post-content table tr td[align="left"] {
  text-align: left;
}
#post-content table tr th[align="center"],
#post-content table tr td[align="center"] {
  text-align: center;
}
#post-content table tr th[align="right"],
#post-content table tr td[align="right"] {
  text-align: right;
}
#post-content table tr th:not([align]),
#post-content table tr td:not([align]) {
/* 默认样式，根据需要设置 */
  text-align: left;
}
#post-content kbd {
  background-color: #fcfcfc;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #000;
  padding: 0.5px 7px;
  font-weight: bold;
}
#post-content dt {
  padding: 5px;
  font-weight: bold;
}
#post-content dt:after {
  content: ":";
}
#post-content dt + dd {
  text-indent: 40px;
}
#post-content sup {
  font-size: smaller;
  vertical-align: super;
}
#post-content sub {
  font-size: smaller;
  vertical-align: sub;
}
#post-content cite {
  font-style: italic;
}
#post-content .video-container {
  position: relative;
  width: 100%; /* 设置宽度为父元素的一半 */
  padding-bottom: 56.25%; /* 16:9 比例的视频高度占容器宽度的百分比 */
  margin: 0 auto; /* 水平居中 */
}
#post-content .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#bottom-inner {
  border-color: #ddd;
}
#post:target {
  padding-top: 100px;
}
figure::-webkit-scrollbar,
table::-webkit-scrollbar {
  width: 10px;
  height: 6px;
/*background-color: #ddd;*/
}
figure::-webkit-scrollbar-thumb,
table::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 5px;
  background-color: #808080;
}
figure::-webkit-scrollbar-thumb:hover,
table::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
/*滑道*/
figure::-webkit-scrollbar-track {
  border-radius: 10px;
}
#message-alert .message {
  background: #fff;
}
