#mid-col #pagination {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #000;
  flex: 1;
}
#mid-col #pagination .prev-post,
#mid-col #pagination .next-post {
  width: 100%;
}
#mid-col #pagination .background {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: center center no-repeat;
  background-size: 100% auto;
  text-decoration: none;
}
#mid-col #pagination .background:hover {
  opacity: 0.6;
}
#mid-col #pagination a {
  display: block;
  width: 100%;
  height: 150px;
  color: #fff;
  opacity: 1;
  position: relative;
  text-decoration: none;
}
#mid-col #pagination #right {
  right: 10%;
  text-align: right;
  line-height: 20px;
}
#mid-col #pagination #left {
  left: 10%;
  text-align: left;
  line-height: 20px;
}
#mid-col #pagination #right,
#mid-col #pagination #left {
  position: absolute;
  top: 45%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  line-height: 20px;
}
#mid-col #pagination .label {
  color: #fff f;
}
#mid-col #pagination #label-l {
  text-align: left;
  float: left;
  margin: 40px 0 0 10%;
}
#mid-col #pagination #label-r {
  text-align: right;
  float: right;
  margin: 40px 10% 0 0;
}
@media (max-width: 600px) {
  #mid-col #pagination {
    flex-direction: column;
    justify-content: space-between;
  }
}
