pre {
  color: #808080;
}
pre ::selection {
  background-color: #d3d3d3;
}
.comment,
.quote {
  color: #d3d3d3;
  font-style: italic;
}
.doctag,
.formula,
.keyword {
  color: #b4009e;
}
.deletion,
.name,
.section,
.selector-tag,
.subst {
  color: #ea6a74;
}
.literal {
  color: #3a96dd;
}
.addition,
.attribute,
.meta-string,
.regexp,
.string {
  color: #98c379;
}
.built_in,
.class .title {
  color: #e59f27;
}
.attr,
.number,
.selector-attr,
.selector-class,
.selector-pseudo,
.template-variable,
.type,
.variable {
  color: #e59f27;
}
.bullet,
.meta,
.selector-id,
.symbol {
  color: #61aeee;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: 700;
}
.ln {
  margin: 6px 0 0 0 !important;
}
.chinese-font {
  font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}
.chinese-tranditional-font {
  font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
.english-serif {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', serif;
}
.code-font {
  font-family: 'Source Code Pro', monospace !important;
}
.Ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
.serif {
  font-family: 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif;
}
