@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
#copyright {
  width: 100%;
  padding-top: 30px;
  letter-spacing: 1.5px;
}
#copyright #simpleCopyright {
  text-align: center;
}
#copyright #simpleCopyright #license {
  letter-spacing: 2px;
  border-bottom: 1px solid #4870ac;
}
#copyright #simpleCopyright #license i {
  line-height: 25px;
}
#copyright #fullCopyright {
  word-wrap: break-word;
  line-height: 1.75;
  border: #e5e5e5 solid 1px;
  background-image: url("/img/license-decoration.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: calc(100% + 30px) -30px;
  padding: 20px;
}
#copyright #fullCopyright .copyright-key {
  font-weight: bold;
}
