@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.local-search-result-cls {
  display: none;
  background-color: #202020;
  width: 300px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 40px;
  border: solid #d3d3d3 1px;
  padding: 5px 15px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
}
.local-search-result-cls::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.local-search-result-cls::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 10px;
  background-color: #4870ac;
}
.local-search-result-cls::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
.local-search-result-cls::-webkit-scrollbar-track {
  border-radius: 10px;
}
body.post > #menu-outer .local-search-result-cls {
  background-color: #fff;
}
.local-search-empty {
  font-size: 16px;
}
.search-result-list {
  font-size: 16px;
}
.search-result-list li {
  padding: 5px;
}
.search-result-list li:not(:last-child) {
  border-bottom: solid 1px #d3d3d3;
}
.search-result-list li a {
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
.search-result-list li p {
  margin: 10px 0;
}
.search-result-list li p .search-keyword {
  color: #4870ac;
  font-weight: bold;
}
#menu-outer a {
  text-decoration: none;
  color: #fff;
}
body.post > #menu-outer a {
  color: #808080;
}
#menu-outer {
  position: fixed;
  top: 0px;
  width: calc(100vw - 40px);
  display: flex;
  height: 75px;
  background-color: #191919;
  padding: 0 20px;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  transition: 0.3s;
  z-index: 10;
  border: solid #d3d3d3 0px;
}
#menu-outer .name-a:hover {
  color: #4870ac;
}
body.post > #menu-outer {
  -webkit-box-shadow: 1px 0 5px #afafaf;
  box-shadow: 1px 0 5px #afafaf;
  color: #808080;
  background-color: #fff;
}
body.home > #menu-outer {
  background-color: transparent;
}
#menu-outer.sticky {
  background-color: transparent;
}
.newMenuOuter {
  left: 80vw;
}
.newMenuOuterColor {
  background-color: #191919 !important;
}
body.post > .newMenuOuterColor {
  background-color: #fff !important;
}
/*********** left nav icon  ***********/
.menu .menu-icon {
  width: 30px;
  height: 75px;
  position: relative;
}
.menu .menu-icon li {
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transition: 0.5s;
  transform-origin: left center;
}
body.post > #menu-outer .menu .menu-icon li {
  background-color: #4870ac;
}
.menu .menu-icon li:nth-child(1) {
  top: 26px;
}
.menu .menu-icon li:nth-child(2) {
  top: 36.5px;
  transition: 0.1s;
}
.menu .menu-icon li:nth-child(3) {
  bottom: 26px;
}
.newFirstLine {
  width: 29px;
  transform: rotateZ(44deg);
}
.newSecondLine {
  visibility: hidden;
}
.newThirdLine {
  width: 29px;
  transform: rotateZ(-44deg);
}
/********** nav items ***************/
.menu #nav {
  position: fixed;
  top: 0px;
  background-color: #191919;
  left: calc(0vw - 80vw);
  width: 80vw;
  bottom: 0;
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 35px 0px;
}
body.post > #menu-outer .menu #nav {
  background-color: #fff;
}
.menu-avatar {
  border-radius: 1000px;
  width: 40%;
  border: 1px solid #808080;
  margin: 10px 30% 20px;
}
.menu #nav li,
.menu #nav .search {
  width: 65%;
  margin: 0 auto;
}
.menu #nav li a {
  line-height: 45px;
  font-size: 18px;
}
body.post #menu-outer .menu #nav li a {
  font-size: 16px;
}
.newNav {
  left: 0 !important;
}
/****** author ***********/
.site-name {
  font-size: 24px;
  order: 2;
}
.site-name img {
  display: block;
  height: 25px;
  width: auto;
}
.site-name #site-logo {
  height: 45px;
  width: auto;
  fill: #fff;
}
.site-name #site-logo:hover .rest-content {
  fill: #4870ac;
}
body.post > #menu-outer #site-logo {
  fill: #808080;
}
/************* search function **************/
#menu-outer .search {
  order: 3;
  border: none;
  display: block;
  border-radius: 20px;
  padding: 5px 5px 5px 10px;
  position: relative;
}
#menu-outer .search #local-search-input {
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  transition: 0.4s;
  width: 0;
  padding: 0;
}
body.post #menu-outer .search #local-search-input {
  color: #808080;
}
.search-icon {
  color: #fff;
  float: right;
  font-size: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
body.post > #menu-outer .search-icon {
  color: #4870ac;
}
#menu-outer .search:hover #local-search-input,
#menu-outer .search:active #local-search-input,
#menu-outer .search #local-search-input:focus {
  width: 120px;
  padding: 0 6px;
}
.search:hover > .search {
  width: 180px;
}
.search:hover > .search-icon {
  background: none;
  color: #4870ac;
  font-size: 16px;
}
.search:hover,
.search:has(#local-search-input:focus) {
  border: solid #4870ac 1.5px !important;
  font-size: 20px;
}
.search:hover .search-icon,
.search:has(#local-search-input:focus) .search-icon {
  font-size: 16px;
}
.search:hover .local-search-result-cls:has(.search-result-list),
.search:has(#local-search-input:focus) .local-search-result-cls:has(.search-result-list),
.search:hover .local-search-result-cls:has(.local-search-empty),
.search:has(#local-search-input:focus) .local-search-result-cls:has(.local-search-empty) {
  display: block;
}
/************ for other media **************/
@media only screen and (min-width: 800px) {
  .newMenuOuter {
    left: 400px;
  }
  .menu #nav {
    left: -400px;
    width: 400px;
  }
}
@media only screen and (min-width: 1000px) {
  .menu-avatar {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .menu #nav {
    width: auto;
    transition: 0s;
    position: static;
    overflow: hidden;
    background: transparent;
    padding: 0;
  }
  .menu #nav .menu-items {
    display: flex;
  }
  .menu #nav .menu-items .item-name {
    padding: 0 20px;
    width: auto;
    position: relative;
    line-height: 75px;
    user-select: none;
  }
  .menu #nav .menu-items .item-name:hover .name-a {
    color: #4870ac;
  }
  .site-name {
    order: 1;
  }
  .menu {
    order: 2;
  }
  .menu #nav {
    overflow: visible;
  }
  .menu #nav .menu-items .item-name:hover > .submenu-items {
    display: inline-block;
  }
  .submenu-items {
    position: absolute;
    display: none;
    left: 50%;
    top: 66px;
    background-color: #333;
    padding: 5px 14px;
    border-radius: 10px;
    -webkit-animation: fadeInUp 0.3s 0.1s ease both;
    -moz-animation: fadeInUp 0.3s 0.1s ease both;
    animation: fadeInUp 0.3s 0.1s ease both;
    z-index: 2;
    white-space: nowrap;
  }
  .submenu-items .subitem-name {
    width: 100% !important;
    padding: 10px 0 !important;
    word-break: break-all;
    display: block;
    margin: 0 !important;
    line-height: 20px !important;
  }
  .submenu-items .subitem-name a {
    line-height: 25px !important;
  }
  .submenu-items .subitem-name:hover a {
    color: #4870ac !important;
  }
  body.post > #menu-outer .submenu-items {
    background-color: #fff;
    border: solid #d3d3d3 1px;
    -webkit-box-shadow: 1px 0 5px #afafaf;
    box-shadow: 1px 0 5px #afafaf;
  }
  .submenu-items::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #333;
    left: 0;
    right: 0;
    top: -28px;
    margin: auto;
    z-index: 100;
  }
  body.post > #menu-outer .submenu-items::before {
    border-bottom-color: #fff;
    z-index: 0;
  }
  body.post > #menu-outer .submenu-items::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: #d3d3d3;
    left: 0;
    right: 0;
    top: -29px;
    margin: auto;
    z-index: -10;
    transform-style: preserve-3d;
    transform: translateZ(-10px);
  }
@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0) translateX(-50%);
    }
}
@-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
      -moz-transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      -moz-transform: translateY(0) translateX(-50%);
    }
}
  .menu #nav .menu-items .item-name .name-a {
    position: relative;
  }
  .menu #nav .menu-items .item-name .name-a:after {
    content: "";
    border: 0 solid #4870ac;
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 0%;
    margin: auto;
    transition: width 0.5s;
    height: 7px;
  }
  .menu #nav .menu-items .item-name:hover {
    color: #4870ac;
  }
  .menu #nav .menu-items .item-name:hover .name-a::after {
    background-color: #4870ac;
    width: 100%;
    z-index: 1;
  }
  body.post > #menu-outer .menu-items .item-name .name-a::after {
    bottom: -28px;
  }
@-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
}
@-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
}
@-o-keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px) translateX(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
}
}
