@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.local-search-result-cls {
  display: none;
  background-color: #202020;
  width: 300px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 40px;
  border: solid #d3d3d3 1px;
  padding: 5px 15px;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;
}
.this-is-post-page +#menu-outer .local-search-result-cls {
  background-color: #fff;
}
.local-search-empty {
  font-size: 16px;
}
.search-result-list {
  font-size: 16px;
}
.search-result-list li {
  padding: 5px;
}
.search-result-list li:not(:last-child) {
  border-bottom: solid 1px #d3d3d3;
}
.search-result-list li a {
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
.search-result-list li p {
  margin: 10px 0;
}
.search-result-list li p .search-keyword {
  color: #d31b29;
}
