@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.side-user {
  border-top: 2px #4870ac solid;
  -webkit-box-shadow: 1px 0 5px rgba(100,100,100,0.4);
  box-shadow: 1px 0 5px rgba(100,100,100,0.4);
  margin-bottom: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.side-user .top-bar {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: solid #d3d3d3 1px;
  color: #808080;
}
#author-info {
  position: relative;
}
.qrButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 2;
}
.qrButton path {
  fill: #4870ac;
}
.avatar {
  width: 150px;
  height: 150px;
  margin: 25px 25% 15px;
  border-radius: 90px;
  background-color: #d3d3d3;
  object-fit: cover;
}
#author-description {
  margin-left: 8%;
  margin-right: 8%;
  color: #666;
  line-height: 25px;
  font-size: 15px;
  padding-bottom: 20px;
}
#side-author {
  color: #808080;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
}
#payment-code {
  width: 100%;
  background-color: #fff;
  color: #fff;
  float: left;
  display: none;
}
.qr-description {
  color: #808080;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  text-align: center;
}
.pay-code {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 150px;
  margin-left: 25%;
}
.payButtons {
  display: flex;
  justify-content: space-around;
  margin: 0 25px 25px;
}
.payButtons button {
  border-radius: 6px;
  color: #4870ac;
  border: solid 1px #4870ac;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 15px;
  background-color: transparent;
  padding: 5px 12px;
}
.payButtons button.selected {
  background-color: #4870ac;
  color: #fff;
}
.clearfix::after {
/* add content */
  content: "";
/* change into a block element */
  display: block;
/* clear float on both side */
  clear: both;
}
