@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
body::-webkit-scrollbar {
  width: 7.5px;
  height: 10px;
/*background-color: #ddd;*/
}
body::-webkit-scrollbar-thumb {
/*滚动条里面小方块*/
  border-radius: 10px;
  background-image: linear-gradient(180deg, #87ceeb 0%, #800080 99%);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}
/*滑道*/
body::-webkit-scrollbar-track {
  border-radius: 10px;
}
