@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
@font-face {
  font-family: "fontawesome";
  src: url("/font-awesome/webfonts/fa-solid-900.eot");
  src: url("/font-awesome/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("/font-awesome/webfonts/fa-solid-900.woff") format("woff"), url("/font-awesome/webfonts/fa-solid-900.ttf") format("truetype"), url("/font-awesome/webfonts/fa-solid-900.svg#micon") format("svg");
}
.archive {
  width: 82%;
  margin: 100px auto 0;
  color: #fff;
  line-height: 22px;
  font-size: 16px;
}
.timeline {
  width: 100%;
}
.period {
  text-align: center;
  font-size: 30px;
  padding: 40px 0;
  color: #d31b29;
}
.timeline-item {
  border-left: 3px solid #d31b29;
  padding: 0 0 0 20px;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
}
.timeline-item .timeline-info {
  line-height: 25px;
  margin-bottom: 20px;
}
.timeline-item .timeline-content {
  margin-bottom: 20px;
}
.timeline-item .timeline-content .post-content p {
  word-break: break-word;
}
.timeline-item .timeline-content .post-content h3 a {
  font-size: 22px;
  color: #d31b29;
  text-decoration: none;
  line-height: 25px;
  display: block;
  margin: 10px 0;
}
.timeline-item:nth-of-type(2n) .timeline-info .post-time:after,
.timeline-item:nth-of-type(2n+1) .timeline-info .post-time:after {
  content: " ";
  width: 13px;
  height: 13px;
  background-color: #202020;
  border: #d31b29 solid 4px;
  position: absolute;
  left: -11.5px;
  border-radius: 20px;
  z-index: 2;
}
@media (min-width: 768px) {
  .archive {
    width: 82%;
  }
  .period {
    text-align: left;
    margin-left: 30%;
  }
  .timeline-item {
    border-left: none;
    flex-direction: row;
  }
  .timeline-item .timeline-info {
    float: right;
    text-align: right;
    width: 27%;
    vertical-align: top;
    position: relative;
    margin: 0;
  }
  .timeline-item .timeline-content {
    margin-bottom: 0px;
    text-align: left;
    float: left;
    width: 70%;
    position: relative;
    padding: 0 20px 20px 20px;
  }
  .timeline-item .timeline-content .post-content {
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
  }
  .timeline-item:nth-of-type(2n) .timeline-info,
  .timeline-item:nth-of-type(2n+1) .timeline-info {
    border-right: #d31b29 solid 1.5px;
    padding-right: 50px;
  }
  .timeline-item:nth-of-type(2n) .timeline-info .post-time:after,
  .timeline-item:nth-of-type(2n+1) .timeline-info .post-time:after {
    content: " ";
    width: 13px;
    height: 13px;
    background-color: #202020;
    border: #d31b29 solid 4px;
    position: absolute;
    right: -11.5px;
    left: auto;
    border-radius: 20px;
    z-index: 2;
  }
  .timeline-item:nth-of-type(2n) .timeline-content,
  .timeline-item:nth-of-type(2n+1) .timeline-content {
    border-left: #d31b29 solid 1.5px;
    padding-left: 50px;
  }
}
@media (min-width: 992px) {
  .archive {
    width: 67%;
  }
  .period {
    text-align: center;
    margin: auto;
  }
  .timeline-item {
    border-left: none;
    padding: 0;
  }
  .timeline-item .timeline-info {
    float: right;
    text-align: right;
    width: 50%;
    vertical-align: top;
    position: relative;
  }
  .timeline-item .timeline-content {
    text-align: left;
    float: left;
    width: 50%;
    position: relative;
    padding: 0;
    margin-bottom: 0px;
  }
  .timeline-item:nth-of-type(2n) .timeline-info {
    order: 2;
    text-align: left;
    border-left: #d31b29 solid 1.5px;
    padding-left: 50px;
    border-right: none;
    padding-right: 0;
  }
  .timeline-item:nth-of-type(2n) .timeline-info .post-time:before {
    content: " ";
    width: 13px;
    height: 13px;
    background-color: #202020;
    border: #d31b29 solid 4px;
    position: absolute;
    left: -11.5px;
    border-radius: 20px;
    z-index: 2;
  }
  .timeline-item:nth-of-type(2n) .timeline-info .post-time:after {
    content: none !important;
  }
  .timeline-item:nth-of-type(2n) .timeline-content {
    text-align: right;
    border-right: #d31b29 solid 1.5px;
    padding-right: 50px;
    border-left: none;
    padding-left: 0;
  }
}
