#top {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9989;
  position: fixed;
  height: 78px;
  background-color: rgba(25,25,25,0.96);
}
#user {
  display: flex;
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: $fonts;
  font-weight: bold;
}
#user:hover {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}
#menus {
  white-space: nowrap;
  width: auto;
  text-align: center;
  margin-left: 18%;
}
.menu-item {
  list-style-type: none;
  float: left;
  margin-right: 1%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}
.menu-item:hover .submenu {
  display: block;
}
.menu-item::before {
  display: none;
}
.submenu-item::before {
  display: none;
}
.menu {
  text-align: center;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  display: block;
  line-height: calc(78px/2);
}
.menu:hover {
  color: #f00;
  border-bottom: solid;
  border-bottom-color: #f00;
  border-bottom-width: 6px;
  padding-bottom: 18px;
}
.sublabel {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  line-height: 40px;
}
.sublabel:hover {
  color: #f00;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
.submenu {
  list-style-type: none;
  display: none;
  opacity: 1;
  position: absolute;
  background: #282828;
  padding: 10px;
  top: 46px;
  right: -8px;
  width: auto;
  height: auto;
  text-align: left;
  z-index: 9999;
  border-radius: 8px;
  box-shadow: 0 1px 40px -8px rgba(0,0,0,0.5);
  -webkit-animation: fadeInUp 0.3s 0.1s ease both;
  -moz-animation: fadeInUp 0.3s 0.1s ease both;
}
.submenu:hover {
  display: block;
}
.submenu:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #282828 transparent;
  opacity: 1;
}
#menu_button {
  color: #fff;
  float: right;
  margin-right: 2%;
  font-size: 30px;
  line-height: calc(78px/2);
}
#search {
  float: right;
  color: #fff;
  margin-right: 2%;
  font-size: 30px;
  line-height: calc(78px/2);
}
