.pagination {
  background-color: #fff;
  clear: both;
  margin: auto;
  font-size: 20px;
  color: $text-color;
  text-align: center;
  width: 100%;
  line-height: 200px;
  text-decoration: none;
}
.prev-next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-top: 30px;
}
.pull-left {
  float: left;
  font-size: 20px;
  line-height: 90px;
  text-decoration: none;
  color: #000;
}
.pull-left:hover {
  color: #f00;
}
.pull-right {
  float: right;
  line-height: 90px;
  text-decoration: none;
  clear: both;
  color: #000;
  font-size: 20px;
}
.pull-right:hover {
  color: #f00;
}
