.search-box {
  background: none;
  height: 25px;
  border-radius: 25px;
  padding: 10px;
  font-size: 25px;
}
.search-btn {
  color: #fff;
  float: right;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  text-decoration: none;
}
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #fff;
  font-size: 16px;
  transition: 0.4s;
  line-height: 25px;
  width: 0;
}
.search-box:hover > .search-txt {
  width: 8vw;
  padding: 0 6px;
}
.search-box:hover > .search-box {
  width: 20px;
}
.search-box:hover > .search-btn {
  background: none;
  color: #e84118;
}
.search-box:hover {
  border: solid #e84118 1.5px;
  font-size: 16px;
}
#search-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
#search {
  width: 600px;
  height: 60%;
  margin-top: 8%;
  background-color: #fff;
  position: fixed;
  padding: 0px 20px 20px;
  left: calc(50% - 320px);
}
#search h2 {
  display: inline-block;
}
.site-search-form {
  width: 96%;
  border: solid 2px #d31a29;
  border-radius: 20px;
}
#search .fa-times-circle {
  float: right;
  margin: 20px 10px 0 0;
  font-size: 50px;
  line-height: 30px;
  color: #808080;
  cursor: pointer;
}
#search .fa-times-circle:hover {
  color: #d31a29;
  cursor: pointer;
}
#local-search-input {
  width: 530px;
  line-height: 30px;
  padding: 0 20px 0 20px;
  border: none;
  background: rgba(255,255,255,0);
  outline: 0;
  border-radius: 20px;
  font-size: 18px;
}
#local-search-input:focus {
  outline: none;
}
#local-search-input::placeholder {
  font-size: 18px;
  line-height: 30px;
}
#search hr {
  width: 83%;
  position: static;
  height: 1px;
  border: none;
  border-top: dashed #df6879 4px;
  margin-top: 40px !important;
  margin-left: 65px;
  overflow: hidden;
  margin-block-start: 0px;
  margin-block-end: 0;
  margin-inline-end: 0;
}
#search hr:before {
  content: "";
  background: url("/img/plane.png") no-repeat;
  width: 60px;
  height: 30px;
  background-size: 60px;
  position: absolute;
  margin-top: -15px;
  margin-left: -60px;
  z-index: 10000;
}
.search-result {
  word-break: break-all;
}
#local-search-result {
  display: flex;
  height: calc(100% - 160px);
  overflow: auto;
  margin-top: 20px;
}
.search-result-title {
  font-weight: bold;
  color: #000;
  font-size: 20px;
}
.search-result-title:hover {
  color: #d31a29;
}
.search-keyword {
  color: #d31a29;
  font-style: normal;
  border-bottom: dashed 2px #d31a29;
}
.search-result-list {
  padding-left: 20px;
}
