.side-user {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.4);
  box-shadow: 1px 0 5px rgba(0,0,0,0.4);
  margin-right: 10px;
  width: 100%;
  min-height: 200px;
}
@media (max-width: 1300px) {
  .side-user {
    display: none;
  }
}
@media (max-width: 1600px) {
  .side-user {
    margin-right: 10%;
  }
}
.mid {
  color: #d3d3d3;
}
.top-bar {
  display: flex;
  justify-content: space-around;
  line-height: 40px;
  border-bottom: solid #d3d3d3 1px;
  align-items: center;
  margin-left: 0px;
}
