#sidebar-toc {
  background-color: #fff;
  margin-top: 45px;
  position: relative;
  -webkit-box-shadow: 1px 0 5px rgba(0,0,0,0.4);
  box-shadow: 1px 0 5px rgba(0,0,0,0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  min-height: 200px;
}
#catalog {
  border-left: 4px solid #d31a29;
  font-size: 20px;
  padding-left: 16px;
}
#percent {
  float: right;
  margin-right: 20px;
  color: #808080;
  font-size: 16px;
}
.toc {
  list-style-type: none;
  text-align: left;
}
.toc:nth-of-type(1) {
  line-height: 25px;
  text-decoration: none;
  margin-left: 20px;
  padding-left: 20px;
  border-left: solid #d3d3d3 1px;
}
.toc:nth-of-type(1)::before {
  position: absolute;
  background-color: #fff;
  border: solid 3px #d31a29;
  border-radius: 20px;
  left: 11px;
  margin-top: 3px;
  content: "";
  width: 13px;
  height: 13px;
}
.toc-link {
  text-decoration: none;
  color: #000;
}
.toc-child {
  list-style-type: none;
  padding-left: 20px;
}
.catalog-active {
  color: #f00;
}
