<div class="table-contents">
    <h1>Contents</h1>
    <ul>
        <li><a href="#page/8">Game Theory<span>8</span></a>
            <ul>
                <li><a href="#page/9">Bash Game<span>9</span></a></li>
                <li><a href="#page/10">Wythoff Game<span>10</span></a></li>
                <li><a href="#page/10">Nimm Game<span>10</span></a></li>
            </ul>
        </li>
        <li><a href="#page/16">GCD && LCM<span>16</span></a></li>
        <li><a href="#page/25">High Precision<span>25</span></a>
            <ul>
                <li><a href="#page/9">Addition<span>9</span></a></li>
                <li><a href="#page/10">Subtraction<span>10</span></a></li>
                <li><a href="#page/10">Multiplication<span>10</span></a></li>
                <li><a href="#page/9">Multiplication FFI<span>9</span></a></li>
                <li><a href="#page/10">Multiply Single Precision<span>10</span></a></li>
                <li><a href="#page/10">Division<span>10</span></a></li>
                <li><a href="#page/9">High Divide Single Precision<span>9</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<span class="page-number">6</span>