<div class="book-content">


    <h3>DFS</h3>
    <pre>
/* 该DFS 框架以2D 坐标范围为例，来体现DFS 算法的实现思想。 */
#include &lt;bits/stdc++.h&gt;
using namespace std;
const int maxn = 100;
bool vst[maxn][maxn]; // 访问标记
int map[maxn][maxn]; // 坐标范围
int dir[4][2]={0, 1, 0, -1, 1, 0, -1, 0}; // 方向向量，(x,y)周围的四个方向
bool CheckEdge(int x,int y) { // 边界条件和约束条件的判断
    if(!vst[x][y] && ...) // 满足条件
        return 1;
    else // 与约束条件冲突
        return 0; 
}

void dfs(int x,int y){
    vst[x][y] = 1; // 标记该节点被访问过
    if(map[x][y] == G) { // 出现目标态G
        ...... // 做相应处理
</pre>

</div>
<span class="page-number">17</span>