<div class="book-content">

    <h1>BINARY SEARCH</h1>
    <pre>
bool solve(int v, int L, int R, int *a){   
    int mid; 
    mid = (R - L) / 2 + L; 
    while(L <= R){
        if(a[mid] == v) 
            return true; 
        else if(a[mid] < v) 
            L = mid; 
        else 
            R = mid; 
    } 
    return false; 
}

#include&lt;algorithm> 
lower_bound(a, a + n, k);(起始地址，末地址，查找元素)在区间(非降序)内返回第 一个大于等于查找元素的地址，返回值是地址，需要减去首地址。
upper_bound()返回第一个大于查找元 素的地址 如果找不到，则返回末地址。
        
</pre>
</div>
<span class="page-number">24</span>