<div class="book-content">

    <pre>
            t = V[F][i];
            if(vis[t.first] == 0){
                vis[t.first] = 1;
                dis[t.first] = dis[F] + t.second;
                Q.push(t.first);
            }
        }
    }
    return point;
}
int main(){
    int x, y, z;
    while(cin >> x >> y >> z){
        V[x].push_back(P(y, z));
        V[y].push_back(P(x, z));
    }
    ans = 0;
    int point = bfs(1);
    ans = 0;
    bfs(point);
    cout << ans << endl;
    return 0;
}
</pre>
</div>
<span class="page-number">21</span>