<div class="book-content">

    <pre>
void make_map(int from, int to){//双向边
    _make_map(from, to);
    _make_map(to, from);
}
    
int main() {
    while (scanf("%d", &n) != EOF) {
        ecnt = 0;
        int i;
        int u[100], v[100];
        for (i = 0; i < n; i++) { //储存边
            scanf("%d%d", &u[i], &v[i]);
            make_map(u[i], v[i]);
        } 
        /*******          
        遍历父节点为u的所有边
        for(int i = box[u]; i + 1; i = edge[i].next){
            int v = edge[i].to;
            if(p == v)continue;
        }
        *******/
    }
    return 0;
}
</pre>

</div>
<span class="page-number">23</span>