<div class="table-contents">
    <h1>Contents</h1>
    <ul>
        <li><a href="#page/7">1/1+1/2+...+1/N<span>7</span></a></li>
        <li><a href="#page/8">DFS/BFS<span>8</span></a>
            <ul>
                <li><a href="#page/9">DFS<span>9</span></a></li>
                <li><a href="#page/10">BFS<span>10</span></a></li>
            </ul>
        </li>
        <li><a href="#page/16">Binary Search<span>16</span></a></li>
        <li><a href="#page/25">Bit Operation<span>25</span></a></li>
        <li><a href="#page/28">C(n,m)<span>28</span></a></li>
        <li><a href="#page/29">Catalan Number<span>29</span></a></li>
        <li><a href="#page/32">Congruence Equation<span>32</span></a></li>
        <li><a href="#page/33">Euler’s Totient Fuction<span>33</span></a></li>
        <li><a href="#page/53">Factorical Determination<span>53</span></a></li>
        <li><a href="#page/73">Fibonacci 3<span>73</span></a></li>
        <li><a href="#page/86">Fixed Factor(minimum number)<span>86</span></a></li>
    </ul>
</div>
<span class="page-number">5</span>