<div class="book-content">

    <pre>
            temp = a[i][j] + carry;
            a[i][j] = temp % 10;
            carry = temp / 10;
        }
        while(carry){ //进位处理
            a[i][len++] = carry % 10;
            carry /= 10;
        }
        carry = 0;
        for(j = len-1; j >= 0; j--) {//除法
            temp = carry*10 + a[i][j];
            a[i][j] = temp/(i+1);
            carry = temp%(i+1);
        }
        while(!a[i][len-1]){
            len --;
            b[i] = len;
        }
    }
}
int main() {
    catalan();
    for(int i=1;i<=100;i++){
        for(int j=b[i]-1;j>=0;j--){
</pre>
</div>
<span class="page-number">31</span>