.code-block-header {
  margin-top: 12px;
  text-align: center;
  background: #23272c;
  position: relative;
  border-radius: 10px 10px 0 0;
  color: #fff;
  z-index: 2;
}
.code-block-header .code-lang,
.code-block-header .code-info {
  content: attr(class);
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  pointer-events: none;
  letter-spacing: 0px;
}
.code-block-header .code-info:before {
  content: " | ";
  color: #fff;
}
.code-block-header .code-lang {
  margin-left: 70px;
}
.code-block-header a {
  border-bottom: 0px !important;
}
.code-block-header .codeblock-buttons {
  diplay: inline;
  float: right;
}
.code-block-header .codeblock-buttons i {
  padding: 12px 15px 0 0;
}
.code-block-header:before {
  content: " ";
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fc625d;
  width: 12px;
  height: 12px;
  left: 20px;
  margin-top: 12px;
  -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  z-index: 2;
}
figure table {
  border-collapse: collapse;
  background: #1d1f21;
  overflow-x: scroll;
  width: 100%;
}
.highlight {
  position: relative;
  line-height: 1.6;
  margin-bottom: 1.6em;
  text-shadow: none;
  color: #fff;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  background-color: #1d1f21;
  display: block;
  color: #abb2bf;
  border-radius: 0 0 10px 10px;
}
.highlight pre {
  color: #fff;
  word-break: break-word;
  padding: 2px;
  margin: 0;
  text-shadow: none;
  border-radius: 0 0 5px 5px;
  font-family: "consolas" !important;
  text-align: left;
  color: #888f96 !important;
}
.highlight pre .line {
  display: inline-block;
  width: 100%;
}
.highlight pre .line:hover {
  background-color: rgba(200,200,200,0.1);
}
.highlight pre .marked {
  background-color: rgba(200,200,200,0.1);
}
.highlight td.gutter {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  left: 0;
  width: 30px;
}
.highlight td.gutter pre {
  text-align: right;
}
.highlight td {
  padding: 0px;
}
.highlight table tr td:last-child {
  width: 100%;
}
.highlight table td,
.highlight table th {
  border: none !important;
}
.code-head-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  height: 38px;
  z-index: 99;
  margin: 0;
  width: 100%;
}
pre {
  color: #fff;
}
pre ::selection {
  background-color: #808080;
}
.comment,
.quote {
  color: #888f96;
  font-style: italic;
}
.doctag,
.formula,
.keyword {
  color: #c678dd;
}
.deletion,
.name,
.section,
.selector-tag,
.subst {
  color: #e06c75;
}
.literal {
  color: #56b6c2;
}
.addition,
.attribute,
.meta-string,
.regexp,
.string {
  color: #98c379;
}
.built_in,
.class .title {
  color: #e6c07b;
}
.attr,
.number,
.selector-attr,
.selector-class,
.selector-pseudo,
.template-variable,
.type,
.variable {
  color: #d19a66;
}
.bullet,
.meta,
.selector-id,
.symbol {
  color: #61aeee;
}
.emphasis {
  font-style: italic;
}
.strong {
  font-weight: 700;
}
.ln {
  margin: 6px 0 0 0 !important;
}
.chinese-font {
  font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}
.chinese-tranditional-font {
  font-family: Helvetica, Tahoma, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}
.english-serif {
  font-family: 'Noto Serif CJK SC', 'Noto Serif CJK', serif;
}
.code-font {
  font-family: 'Source Code Pro', monospace !important;
}
.Ubuntu-font {
  font-family: 'Ubuntu', sans-serif;
}
.serif {
  font-family: 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia, serif;
}
.code-block-header {
  user-select: none;
}
.code-block-fullscreen {
  position: fixed;
  top: 38px;
  left: 0;
  width: 100%;
  --heightA: 100%;
  --heightB: calc(var(--heightA) - 30px);
  height: var(--heightB);
  min-width: 100%;
  z-index: 98;
  margin: 0;
  animation: elastic 1s;
  overflow: scroll;
  transition: height 1s ease;
}
.code-block-fullscreen-html-scroll {
  overflow: hidden;
}
